<div class="tm-header">
    <div class="container-fluid">
        <div class="tm-header-inner">
            <a href="#" class="navbar-brand tm-site-name">Classic</a>

            <!-- navbar -->
            <nav class="navbar tm-main-nav">

                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse"
                        data-target="#tmNavbar">
                    &#9776;
                </button>

                <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" [class.active]="current_uri.startsWith('/home')">
                            <a routerLink="/home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item" [class.active]="current_uri.startsWith('/about')">
                            <a routerLink="/about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item" [class.active]="current_uri.startsWith('/blog')">
                            <a routerLink="/blog" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item" [class.active]="current_uri.startsWith('/discuz')">
                            <a routerLink="/discuz" class="nav-link">Discuz</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class='content_container'>
    <router-outlet></router-outlet>
</div>
<footer class="tm-footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-footer-content-box">
                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Proin eu posuere felis</h3>
                    <div class="tm-gray-bg">
                        <p>Classic is free HTML CSS website template provided by templatemo for everyone. Feel free to
                            use it.</p>
                        <p>Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor
                            pharetra.</p>
                        <p><strong>Danny Egg (Executive)</strong></p>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="tm-footer-content-box tm-footer-links-container">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Nulla tortor dolor</h3>
                    <nav>
                        <ul class="nav">
                            <li><a href="#" class="tm-footer-link">Tincidunt non faucibus</a></li>
                            <li><a href="#" class="tm-footer-link">Vestibulum tempor</a></li>
                            <li><a href="#" class="tm-footer-link">Fusce non turpis euismod</a></li>
                            <li><a href="#" class="tm-footer-link">Lorem ipsum dolor sit</a></li>
                            <li><a href="#" class="tm-footer-link">Nam in augue consectetur</a></li>
                            <li><a href="#" class="tm-footer-link">Text Link Color #CCCC66</a></li>
                        </ul>
                    </nav>

                </div>

            </div>

            <!-- Add the extra clearfix for only the required viewport
                http://stackoverflow.com/questions/24590222/bootstrap-3-grid-with-different-height-in-each-item-is-it-solvable-using-only
            -->
            <div class="clearfix hidden-lg-up"></div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-footer-content-box">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Etiam mollis ornare</h3>
                    <p class="tm-margin-b-30">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec
                        scelerisque porttitor pharetra.</p>
                    <hr class="tm-margin-b-30">
                    <p class="tm-margin-b-30">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec
                        scelerisque porttitor pharetra.</p>
                    <hr class="tm-margin-b-30">
                    <p class="tm-margin-b-30">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec
                        scelerisque porttitor pharetra.</p>
                    <a href="#" class="tm-btn tm-btn-gray text-uppercase">Read More</a>

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-footer-content-box">

                    <h3 class="tm-gold-text tm-title tm-footer-content-box-title">Fusce non turpis</h3>
                    <div class="tm-margin-b-30">
                        <img src="../static/img/tm-img-100x100-1.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="../static/img/tm-img-100x100-2.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="../static/img/tm-img-100x100-3.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="../static/img/tm-img-100x100-4.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="../static/img/tm-img-100x100-5.jpg" alt="Image" class="tm-footer-thumbnail">
                        <img src="../static/img/tm-img-100x100-6.jpg" alt="Image" class="tm-footer-thumbnail">
                    </div>
                    <p class="tm-margin-b-20">Curabitur dui massa, aliquam quis mi sed, tempor vulputate tellus. Sed
                        vestibulum non neque.</p>
                    <a href="#" class="tm-btn tm-btn-gray text-uppercase">Browse</a>

                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-xs-12 tm-copyright-col">
                <p class="tm-copyright-text">Copyright 2016 Your Company Name. More Templates <a
                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
</footer>
