<div class="tm-home-img-container">
    <img src="../static/img/tm-home-img.jpg" alt="Image" class="hidden-lg-up img-fluid">
</div>

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                <h2 class="tm-gold-text tm-title">金地·自在城</h2>
                <p class="tm-subtitle">
                    长沙金地自在城位于河西雷锋大道龙湖高尔夫北面，项目临近长沙观音岩湖、长沙白鹭生态保护区——白鹭岛。建筑面积达55万平米，东面是60米宽的雷锋大道，西面是占地40万平米的龙湖，南面为中粮北纬28度，北面三千米处为佛教圣地—洗心禅寺。是一个集居住、休闲、运动、教育、养生、商业为一体的大型综合型社区。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="../static/img/tm-img-310x180-1.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">样板间</h4>
                    <p class="tm-margin-b-20">此处省略介绍一万字此处省略介绍一万字此处省略介绍一万字此处省略介绍一万字</p>
                    <a href="#" class="tm-btn text-uppercase">详情</a>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="../static/img/tm-img-310x180-2.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">小区规划</h4>
                    <p class="tm-margin-b-20">此处省略介绍一万字</p>
                    <a href="#" class="tm-btn text-uppercase">更多</a>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="../static/img/tm-img-310x180-3.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">周边配套</h4>
                    <p class="tm-margin-b-20">此处省略介绍一万字此处省略介绍一万字此处省略介绍一万字</p>
                    <a href="#" class="tm-btn text-uppercase">详情</a>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                <div class="tm-content-box">
                    <img src="../static/img/tm-img-310x180-4.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                    <h4 class="tm-margin-b-20 tm-gold-text">交通</h4>
                    <p class="tm-margin-b-20">此处省略介绍一万字此处省略介绍一万字</p>
                    <a href="#" class="tm-btn text-uppercase">更多</a>
                </div>

            </div>
        </div> <!-- row -->

        <div class="row tm-margin-t-big">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="tm-2-col-left">

                    <h3 class="tm-gold-text tm-title">Pellentesque fermentum mauris et posuere</h3>
                    <p class="tm-margin-b-30">Vivamus accumsan blandit ligula. Sed lobortis efficitur sapien</p>
                    <img src="../static/img/tm-img-660x330-1.jpg" alt="Image" class="tm-margin-b-40 img-fluid">
                    <p>
                        Donec tempor lobortis tortor, in feugiat massa facilisis sed. Ut dignissim viverra pretium. In
                        eu justo maximus turpis feugiat finibus scelerisque nec eros. Cras nec lectus tempor nibh
                        vestibulum eleifend et ac elit.
                    </p>
                    <p>Morbi vel pharetra massa, non iaculis tortor. Nulla porttitor tincidunt felis et feugiat. Vivamus
                        fermentum ligula justo, sit amet blandit nisl volutpat id. Fusce sagittis ultricies felis, non
                        luctus mauris lacinia quis.</p>
                    <p class="m-b-2"> Ut fringilla lacus ac tempor ullamcorper. Mauris iaculis placerat ex et mattis.
                        Mauris id vulputate lectus, id fermentum sapien.
                    </p>
                    <a href="#" class="tm-btn text-uppercase">Read More</a>

                </div>
            </div>

            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="网站模板">网站模板</a></div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

                <div class="tm-2-col-right">

                    <div class="tm-2-rows-md-swap">
                        <div class="tm-overflow-auto row tm-2-rows-md-down-2">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="tm-gold-text tm-title">
                                    最新博客文章
                                </h3>
                                <nav>
                                    <ul class="nav">
                                        <li><a href="#" class="tm-text-link">做金地的业主是一种怎样的体验?</a></li>
                                        <li><a href="#" class="tm-text-link">如何评价知乎的价值体系?</a></li>
                                        <li><a href="#" class="tm-text-link">长沙房地产行业年度大作:金地三千府</a></li>
                                        <li><a href="#" class="tm-text-link">长沙房地产行业年度大作:金地三千府--后篇</a></li>
                                        <li><a href="#" class="tm-text-link">初恋要结婚了,新郎不是我~</a></li>
                                    </ul>
                                </nav>
                            </div> <!-- col -->

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-xs-m-t">
                                <h3 class="tm-gold-text tm-title">
                                    友情链接
                                </h3>
                                <nav>
                                    <ul class="nav">
                                        <li><a href="#" class="tm-text-link">金地集团官网</a></li>
                                        <li><a href="#" class="tm-text-link">洗澡狂魔的技术阵地</a></li>
                                        <li><a href="#" class="tm-text-link">长沙望城雷锋市政超市</a></li>
                                        <li><a href="#" class="tm-text-link">私人nexus</a></li>
                                        <li><a href="#" class="tm-text-link">友链交换联系QQ19967346</a></li>
                                    </ul>
                                </nav>
                            </div> <!-- col -->
                        </div>

                        <div class="row tm-2-rows-md-down-1 tm-margin-t-mid">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h3 class="tm-gold-text tm-title tm-margin-b-30">论坛热门板块</h3>
                                <div class="media tm-related-post">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object" src="../static/img/tm-img-240x120-1.jpg"
                                                 alt="Generic placeholder image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">业主交流</h4></a>
                                        <p class="tm-small-font tm-media-description">这里提供业主聊天打屁的场所,管水不管饭,大家卯起劲来扯淡!~</p>
                                    </div>
                                </div>
                                <div class="media tm-related-post">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object" src="../static/img/tm-img-240x120-2.jpg"
                                                 alt="Generic placeholder image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">公告发布</h4></a>
                                        <p class="tm-small-font tm-media-description">金地自在城官方非官方的各种公告,以及小道消息传播的地方</p>
                                    </div>
                                </div>
                                <div class="media tm-related-post">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object" src="../static/img/tm-img-240x120-3.jpg"
                                                 alt="Generic placeholder image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading tm-gold-text tm-margin-b-15">投诉反馈</h4></a>
                                        <p class="tm-small-font tm-media-description">大家有什么意见和建议尽管提,至于我改不改,关你啥事```</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div> <!-- row -->

    </div>
</section>